<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Paysdufle.fr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/pages/a-propos.html">À propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/contact.html">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/plan-du-site.html">Plan du site</a>
            </li>
            <li class="nav-item d-none d-xl-block d-lg-inline">
                <a class="nav-link" href="/pages/recherche-avancee.html">Recherche avancée</a>
            </li>
            <li class="nav-item d-none d-lg-inline">
                <a class="nav-link traduirePage" href="#">Traduire la page</a>
            </li>
            <li class="nav-item d-lg-inline">
                <a class="nav-link" target="_blank" href="https://stats.paysdufle.fr/">Statistiques</a>
            </li>
        </ul>
        <form class="form-inline">
            <select id="moteurRecherche" name="moteurRecherche" class="form-control"></select>
        </form>
    </div>
</nav>

<div class="row d-lg-none">
    <div class="col-12" style="margin-bottom: 20px;">
        <a class="btn btn-link traduirePage" href="#">Traduire la page</a>
    </div>
</div>