{% extends "layout.html" %}

{% block titre %}Alicja au pays du FLE - À propos{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <img src="/assets/img/template/couverture.jpg" class="card-img-top" alt="Couverture">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <p><strong>Alicja Krawczyk</strong>, enseignante, rédactrice et formatrice en FLE, elle travaille actuellement dans une école de français en France et fait partie de la rédaction de <a href="#">Bonjour de France</a>, après avoir enseigné le FLE à l’Université Jagellonne et à l’Institut français de Cracovie. Spécialiste de l’enseignement précoce du FLE, domaine sur lequel elle travaille depuis 2005. Titulaire d’un master 2 en philologie romane (spécialité FLE). Elle est co-auteure des ressources pédagogiques pour les méthodes Clémentine 1 et Clémentine 2 (CLE International) et collabore régulièrement à la revue Le français dans le monde (CLE International). En 2019, elle a rejoint l’équipe d’experts formée par <a href="https://www.fle-adrienpayet.com">Adrien Payet</a> et elle anime des formations méthodologiques en France et à l’étranger, sur les sujets suivants :</p>
            <br />
            <ul>
                <li>"Grammaire en jeux"</li>
                <li>"Comment enseigner le lexique au niveau débutant"</li>
                <li>"Comment rendre attrayant le travail avec une méthode de FLE"</li>
                <li>"Activités créatives et ludiques en classe de FLE"</li>
                <li>"Boîte à outils de l'enseignement précoce du français"</li>
                <li>"Dynamiser ses cours de français avec les adolescents"</li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="text-center col-12 col-lg-3">
            <img src="/assets/img/template/alicja.jpg" class="mr-sm-3" alt="Alicja">
        </div>
        <div class="col-12 col-lg-9 mt-4 mt-sm-0">
            <p>“Le français, langue qui m'était complètement étrangère, jusqu’à mes 15 ans et que j’ai fini par assimiler et aimer au point de vouloir le promouvoir, l’enseigner, est devenu mon choix de vie, ma mission. Je ne cache jamais mes origines polonaises devant mes élèves ou devant les participants de mes formations en méthodologie du FLE. Bien au contraire, je pense que c’est un grand avantage qui me permet de mieux comprendre les besoins de mes apprenants ainsi que les difficultés qu’ils éprouvent face à différentes questions grammaticales ou lexicales et de leur fournir des explications à la fois simples et efficaces. Que vous soyez étudiants ou professeurs, bienvenue dans mon pays du FLE ! Chers Apprenants, j’espère que vous y trouverez les réponses à vos questions et vous, chers Collègues Enseignants, de l’inspiration pour préparer des cours, qui ajoutée à votre passion, va faire opérer la magie du français dans vos classes !”</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <p>Contact : Vous pouvez m'écrire à l'adresse suivante : <span class="le_truc_a_modifier" style="margin-left: 15px;">gmail@paysdufle.com</span></p>
        </div>
    </div>

    {% endblock %}