{% extends "layout.html" %}

{% block titre %}Alicja au pays du FLE - Contact{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <img src="/assets/img/template/couverture.jpg" class="card-img-top" alt="Couverture">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <h1>Contact</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <p>Vous pouvez m'écrire à l'adresse suivante : <span class="le_truc_a_modifier" style="margin-left: 5px;">gmail@paysdufle.com</span>.</p>
        </div>
    </div>

{% endblock %}