{% extends "layout.html" %}

{% block titre %}Alicja au pays du FLE - Mentions légales{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <img src="/assets/img/template/couverture.jpg" class="card-img-top" alt="Couverture">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <h1>Mentions légales</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <p><strong>Alicja Krawczyk</strong></p>
            <p>Vous pouvez me contacter par mail à l'adresse suivante : <span class="le_truc_a_modifier">gmail@paysdufle.com</span></p>
            <p><strong>Hébergement</strong> : OVH, 2 rue Kellermann – 59100 Roubaix – France. Pour les contacter <a href="https://help.ovhcloud.com/fr/contact-method/">cliquez-ici</a></p>
        </div>
    </div>

{% endblock %}