---
nom: Recherche avancée
---

{% extends "layout.html" %}

{% block titre %}Alicja au pays du FLE - Recherche avancée{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7/themes/algolia-min.css" />
{% endblock %}

{% block content %}

    {{ include('partials/pages-statiques.html') }}
    
    <div class="row">
        <div class="col-12">
            <h1>Recherche avancée</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <div class="ais-InstantSearch">
                <div class="left-panel">
                    <div id="clear-refinements"></div>
                    <h2>Catégories</h2>
                    <div id="categories-list"></div>
                    <h2>Sous-catégories</h2>
                    <div id="sous-categories-list"></div>
                    <h2>Tags</h2>
                    <div id="tags-list"></div>
                </div>
                <div class="right-panel">
                    <div id="searchbox" class="ais-SearchBox"></div>
                    <div id="lessons"></div>
                    <div id="pagination"></div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch/dist/instant-meilisearch.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>
    <script src="/assets/js/instantSearch.js"></script>
{% endblock %}