---
nom: Recherche avancée
---

{% extends "layout.html" %}

{% block titre %}Alicja au pays du FLE - Recherche avancée{% endblock %}

{% block content %}

    {{ include('partials/breadcrumbs.html') }}

    <div class="row">
        <div class="col-12">
            <div class="card" >
                <img src="/assets/img/template/couverture.jpg" class="card-img-top" alt="Couverture">
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <h1>Vie privée</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <p>Votre vie privée est l'une de nos préoccupations principales (en plus de vous apprendre le français :-)), c'est pourquoi nous avons choisi de ne pas utiliser de cookies pour vous traquer dans les moindres recoins de notre site. C'est la raison pour laquelle vous ne verrez pas apparaître une de ces ennuyeuses boîtes de dialogue vous demandant d'accepter tel ou tel cookie.</p>
        </div>
    </div>
    
{% endblock %}